/* --------- Colors from Pongo https://zeroheight.com/14185140d/p/97dc60-colors/b/259d77 ---------- */
  /* --------- New Brand Colors ---------- */
  /* --------- Colors from Pongo 2.0 https://www.figma.com/file/2sczKBPtm8QYM3uSgQa6Zj/Pongo-2.0 ---------- */
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
  
  html{
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    color: #272D30;
    background: #004A6E;
    font-size: 13px;
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
  body textarea{
    border: 3px solid #f47c46;
    font-family: Open Sans;
    color: #004A6E;
    rows: 3;
    resize: none;
    width: 4 em;
    height: 4em;
    border-radius: 5px;
  }
  
  body input, body select{
    border: 3px solid #f47c46;
    font-family: Open Sans;
    color: #004A6E;
    border-radius: 5px;
  }
  
  body input::placeholder, body select::placeholder{
    font-family: Open Sans;
    color: #004A6E;
  }
  
  body input::-webkit-outer-spin-button,
  body input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  
  body input[type="number"] {
    -moz-appearance:textfield;
    border: 3px solid #f47c46;
    font-family: Open Sans;
    color: #004A6E;
    border-radius: 5px;
  }
  
  body textarea:focus, body input:focus, body select:focus{
    border: 3px solid #f47c46;
    font-family: Open Sans;
    color: #004A6E;
  }
  
  .secureDonationBanner {
    color: #eee;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 100;
    margin: 40px 2% 20px 2%;
    width: 100%;
    max-width: 450px;
    float: left;
    clear: left;
  }
  
  .secureDonationBanner > img {
    border: 0px;
    max-width: 95%;
  }
  
  body > div#wrapper {
    max-width: 980px;
    margin: 0 auto;
  }
  
  body div#content {
    margin: 0px 2% 40px 2%;
    padding: 40px;
    width: 92%;
    max-width: 600px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 10px;
    background: #f8f8f8;
    font-family: Roboto Slab;
    font-size: 120%;
    color: #004A6E;
    float: left;
  }
  
  #banner > img {
    max-width: 100%;
  }
  
  body div#orgInfo {
    margin: 0px 2% 20px 2%;
    padding: 20px;
    width: 92%;
    max-width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #f8f8f8;
    border-radius: 10px;
    float: left;
    color: #004A6E;
    font-family: Roboto Slab;
  }
  
  .title {
    display: none;
  }
  
  .section {
    margin: 30px 0px;
  }
  
  .section:nth-child(2) label input[type="radio"]{
    display: none;
  }
  
  .section:nth-child(2) div:nth-child(2) {
    width: 100%;
    background: #004A6E;
    overflow: hidden;
    height: 20px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 5px;
  }
  
  .section:nth-child(2) div:nth-child(3) {
    width: 100%;
    background: #004A6E;
    overflow: hidden;
    height: 20px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 5px;
  }
  
  .section:nth-child(2) div:nth-child(4) {
    width: 100%;
    background: #004A6E;
    overflow: hidden;
    height: 20px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 5px;
  }
  
  .section:nth-child(2) div:nth-child(5) {
    width: 100%;
    background: #004A6E;
    overflow: hidden;
    height: 20px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 5px;
  }
  
  .section:nth-child(2) div:nth-child(6) {
    width: 100%;
    background: #004A6E;
    overflow: hidden;
    height: 20px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 5px;
  }
  
  .section:nth-child(2) div:nth-child(7) {
    background: #004A6E;
    overflow: hidden;
    height: 20px;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  .section:nth-child(2) div:nth-child(2) label{
    width: 60px;
    height: 20px;
    overflow: hidden;
    font-size: 1em;
    border: none;
    font-family: Roboto Slab;
  }
  
  .section:nth-child(2) div:nth-child(3) label{
    background: #004A6E;
    width: 60px;
    height: 20px;
    overflow: hidden;
    font-size: 1em;
    border: none;
    font-family: Roboto Slab;
  }
  
  .section:nth-child(2) div:nth-child(4) label{
    width: 65px;
    height: 20px;
    overflow: hidden;
  }
  
  .section:nth-child(2) div:nth-child(5) label{
    width: 65px;
    height: 20px;
    overflow: hidden;
  }
  
  .section:nth-child(2) div:nth-child(6) label{
    width:65px;
    height: 20px;
    overflow: hidden;
  }
  
  .section:nth-child(2) div:nth-child(7) label{
    width: 43px;
    height: 20px;
    overflow: hidden;
    margin-left: 3px;
  }
  
  .section:nth-child(2) label:hover {
    cursor: pointer;
  }
  
  .section:nth-child(2) label span {
    background: #004A6E;
    font-family: Open Sans;
    font-size: 95%;
    color: white;
    display: inline-block;
    width: 85px;
  }
  
  .section:nth-child(2) label input[type="radio"]:checked + span {
    font-family: Open Sans;
    font-size: 95%;
    color: #f47c46;
    font-weight: bold;
  }
  
  body input[type="text"]:nth-child(1){
    background: #004A6E;
    font-family: Open Sans;
    color: white;
    font-size: 100%;
    border: none;
    position: relative;
    top: -13px;
    margin-left: -4px;
    display: inline-block;
    height: 20px;
  }
  
  body input[type="text"]:nth-child(1)::placeholder{
    font-family: Open Sans;
    color: white;
    position: relative;
    height: 16px;
    font-size: 95%;
  }
  
  body input[type="text"]:nth-child(1):not(:placeholder-shown){
    font-family: Open Sans;
    font-size: 95%;
    color: #f47c46;
    position: relative;
    top: -13px;
    margin-left: -4px;
    display: inline-block;
    height: 20px;
    font-weight: bold;
  }
  
  body input[type="text"]:nth-child(1):focus{
    font-family: Open Sans;
    color: #f47c46;
    position: relative;
    top: -13px;
    margin-left: -4px;
    display: inline-block;
    height: 20px;
    font-size: 95%;
  }
  
  body input[type="text"]:nth-child(1):focus::placeholder{
    font-family: Open Sans;
    color: #f47c46;
    height: 16px;
    font-size: 100%;
  }
  
  .section:nth-child(3){
    margin-left: -30px;
    cursor: pointer;
    color: #004A6E;
    font-family: Open Sans;
    margin-top: -25px;
  }
  
  .section:nth-child(3) label, .section:nth-child(6) label, 
  .section:nth-child(8) label, .section:nth-child(9) label{
    color: #004A6E;
    font-family: Open Sans;
    font-size: 90%;
  }
  
  .section:nth-child(3) label:hover, .section:nth-child(6) label:hover,
  .section:nth-child(9) label:hover{
    cursor: pointer;
    color: #004A6E;
    font-family: Open Sans;
    font-size: 90%;
  }
  
  .section:nth-child(4) div, .section:nth-child(5) div, .section:nth-child(7) div{
    display: flex;
  }
  
  @media only screen and (max-width: 420px){
    .section:nth-child(4) div:nth-child(4) label, 
    .section:nth-child(4) div:nth-child(5) label{
      width: 128px; /*140*/
    }
  
    .section:nth-child(5) div:nth-child(2) label, 
    .section:nth-child(5) div:nth-child(3) label, 
    .section:nth-child(5) div:nth-child(5) label, 
    .section:nth-child(5) div:nth-child(7) label{
      width: 128px; /*140*/
    }
  }
  
  .section:nth-child(4) label, .section:nth-child(5) label{
    text-align: right;
    display: block;
    width: 93px;
    padding: 0px;
    height: 20px;
    font-size: 90%;
    font-weight: bold;
    color: #004A6E;
    font-family: Open Sans;
  }
  
  @media only screen and (min-width: 420px) {
    .section:nth-child(4) label, .section:nth-child(5) label{
      text-align: right;
      display: block;
      width: 85px;
      padding: 0px;
      height: 20px;
      font-size: 90%;
      font-weight: bold;
      color: #004A6E;
      font-family: Open Sans;
    }
  }
  
  .section:nth-child(7){
    margin-top: -20px;
  }
  
  .section:nth-child(7) label{
    padding: 0px;
    height: 20px;
    font-size: 90%;
    font-weight: bold;
    color: #004A6E;
    font-family: Open Sans;
  }
  
  body input[type="text"]:nth-child(2), body input[type="email"], 
  body input[type = "tel"], body textarea, body select, 
  body input[type = "number"]{
    margin-left: 5px;
    font-size: 90%;
    width: 70%;
  }
  
  body input[type = "checkbox"], body input[type="radio"]{
    cursor: pointer;
  }
  
  body input[type = "submit"]{
    font-size: 105%;
    font-family: Open Sans;
    background: #004A6E;
    color: white;
    border: 3px solid #004A6E;
    font-weight: bold;
    display:table;
    margin: 0 auto;
  }
  
  body input[type = "submit"]:hover{
    font-size: 105%;
    font-family: Open Sans;
    background: #004A6E;
    color: #f47c46;
    border: 3px solid #004A6E;
    font-weight: bold;
    cursor: pointer;
  }
  
  h2{
    margin: 0px;
  }